# Created by .ignore support plugin (hsz.mobi)
/.idea
/.idea/
/.idea/libraries
/.idea/.name
/.idea/workspace.xml
/.idea/modules.xml

/target/
/target/generated-sources/
/target/generated-test-sources/
/src/realty

.idea
.idea/
.idea/workspace.xml
*.iml
*/workspace.xml
target
*/target/
*.log
MarchenkoProj.iml

/radulenkoProj/.idea
/radulenkoProj/.idea/
/radulenkoProj/radulenkoProj.iml
/radulenkoProj/target
/radulenkoProj/target/

/KorchaginaProj/.idea
/KorchaginaProj/.idea/
/KorchaginaProj/KorchaginaProj.iml
/KorchaginaProj/target
/KorchaginaProj/target/

BerezukProj/target/
FedorovProj/target/
Gon4arenkoProj/target/
GuseinovProj/target/
HivrichProj/target/
MarchenkoProj/target/
SedkoProj/target/
ToporikovProj/target/
overallProj/target/


log/
src/main/java/testData.xls
